* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #3a3335;
    color: #fe654f;
}

header nav ul {
    list-style: none;
}

body {
    background: #fff5ee;
    font-family: "Playfair Display", serif;
    color: #3a3335;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.content > h1 {
    font-size: 7em;
    text-align: center;
    margin-bottom: 2.5%;
}

section {
    background: #ef798a;
    margin: 0% 25% 1% 25%;
    clip-path: polygon(5% 100%, 5% 0%, 95% 0%, 95% 100%);
    animation: extend 0.75s ease-in-out forwards;
    padding: 1% 5%;
}

.first {animation-delay: 0.2s;}
.second {animation-delay: 0.5s;}
.third {animation-delay: 0.6s;}

article {
    display: flex;
}

@keyframes extend {
    to {
        clip-path: polygon(5% 100%, 0% 0%, 95% 0%, 100% 100%);
        margin: 0% 10% 1% 10%;
        /* letter-spacing: 0.5px; */
    }
}

img {
    margin-left: 10px;
    height: 200px;
}

h1 {
    font-size: 2em;
}

h2 {
    color: #fff5ee;
    font-family: "Recursive", sans-serif;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-size: 100%;
    border-right: solid 1px #fff5ee;
    margin-right: 5px;
}

article ol { /* Value */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    font-family: "Recursive", sans-serif;
    font-weight: 600;
    color: #131316;
    white-space: nowrap;
    overflow: hidden;
}

article ol em { /* Item */
    color: #fff5ee;
}

footer {
    background-color: #7970b1;
    color: #131316;
    text-align: center;
    font-family: "Recursive", sans-serif;
}


footer > h1 {
    font-size: 1.25em;
}

footer > p {
    font-size: 0.75em;
}

a {
    font-style: italic;
    color: currentColor;
    text-decoration: none; /* Remove default underline */
    background-image: linear-gradient(currentColor, currentColor); /* We need an image-like background to do this trick */
    background-position: 0% 100%; /* Moves the background down and on the left */
    background-repeat: no-repeat; /* Otherwise the line duplicates to fill avaiable space (?) */
    background-size: 0% 2px;  /* Sets the height to 1px and shrinks it to make it disappear */
    transition: background-size .4s ease; /* Brings the line back with animation */
}

a:hover, a:focus {
    background-size: 100% 2px;
}