body {
	font-family: 'Bodoni Moda', serif;
	background-color: rgb(37, 38, 39);
}

/* Header text + nav*/
header {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

/*button style -- header text*/
.dropdown button {
	background-color: white;
	border: none;
	padding-bottom: 10px;
}

.dropdown button p {
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 90px;
	color: black;
	border-bottom: 2px solid black;
	margin: 0px;
}

/*Dropdown content (hidden by default)*/
.dropdown-content {
	font-family: 'Lato', sans-serif;
	font-size: 0px;
	display: none;
	position: relative;
	background-color: #f1f1f1;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
	animation: dd 0.5s forwards;
}

@keyframes dd {
	0% {
	}
	100% {
		font-size: 20px;
	}
}

/* Change button style on hover */
.dropdown:hover button {
	/*animation: button .5s forwards ease;*/
}

@keyframes button {
	0% {
	}
	100% {
		/*background-color: rgba(255, 255, 255, 0.2);*/
		padding: 0px 30px;
	}
}

.content {
	font-family: "EconomicaRegular";
	display: flex;
	flex-flow: column;
}

.banner {
	margin: 10px 20px;
	background-color: white;
}

footer {
	font-family: "EconomicaRegular";

	text-align: center;
	margin: 20px;
}

footer a {
	background-color: white;
	padding: 10px 80px;
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.banner .title {
	color: rgb(0, 0, 0);
	padding: 10px;
	text-transform: capitalize;
	font-size: 25px;
	text-align: center;
	border-bottom: 1px solid black;
	margin: 10px;
}

.banner .body {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.banner .body .image {
	margin-right: 20px;
	margin-bottom: 40px;
	margin-top: 20px;
}

.banner .body img {
	object-fit: contain;
	width: 400px;
	height: 200px;
}

.banner .body img:hover {
	animation-name: image;
	animation-duration: 0.6s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes image {
	0% {
	}
	100% {
		width: 600px;
		height: 300px;
	}
}

.banner .text {
	margin-left: 40px;
	margin-bottom: 40px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
	
}

.banner .text:hover {
	animation-name: text;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
}

@keyframes text {
	0% {
	}
	100% {
		letter-spacing: 0.6px;
		font-size: 22px;
	}
}

.content button {
	color: black;
	background-color: white;
	border: none;
}

.content button:hover {
	color: white;
	background-color: black;
}

.fa {
	font-size: 30px;
	width: 350px;
	text-align: center;
	text-decoration: none;
	color:black;
}

.fa:hover {
	opacity: 0.7;
}
