/* Color Palettes
Background: #FFFCF2;
Background*: #ccc5b9;
Font: #252422;
Font*: #ff3366;
*/

body {
	font-family: 'Lato', sans-serif;
	color: #252422;
	background-color: #FFFCF2;
}

header {
	display: flex;
	flex: initial;
	font-family: 'Bebas Neue', serif;
	font-size: 4em;
	font-weight: bold;
	justify-content: center;
	margin-bottom: 50px;
	/*background-color: #ccc5b9;*/
	background-color: rgba(0, 0, 0, 0.1);
	
}


div .title {
	
}