* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* importing fonts */
@font-face {
    font-family: "Raleway";
    src: url("../resources/fonts/Raleway-Bold.ttf");
}
@font-face {
    font-family: "PTSans";
    src: url("../resources/fonts/PTSans-Regular.ttf");
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* keeps footer down even with few content */
}

.background {
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../resources/images/blue-wave-pattern.jpg") no-repeat center fixed;
    background-size: cover; /* strange resizes */
}

.contentWrapper {   
    flex: 1; /* pushes the footer down */
}

h1 {
    text-transform: capitalize;
    padding: 5px;
    font-size: 2.5em;
    font-family: "Raleway";
    font-weight: bold;
    text-align: center;
    background-color: #6896bd;
}

header h1 {
    font-size: 4em;
    text-transform: uppercase;
}

p, li {
    font-family: "PTSans", sans-serif;
    font-size: 1.5em;
}

article text p {
    padding: .5em;
}

article text li {
    margin: 0 1.5em;
}

article {
    display: flex;
    margin: 5% 15% 0% 15%;
}

article text {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f6f3f6;
    border-radius: 15px;
    box-shadow: 8px 6px 0px 0px #90c2eb, 16px 12px 0px 0px #c2dff1;
    overflow-wrap: break-word;
    overflow: hidden; /* https://stackoverflow.com/questions/10995294/border-radius-not-working */
}

article figure {
    display: flex;
    justify-content: center;
    padding: 10px;
}

article img {
    height: fit-content;
}


/**/

footer {
    background-color: #c2dff1;
    width: 100%;
}

footer p {
    font-size: .8em;
    text-align: center;
    padding-bottom: 1px;
}

@media only screen and (max-width: 400px) {
    article {
        flex-direction: column;
        margin: 5% 20px 0px 4px;
    }
}