/* root */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* all links */
a {
    text-decoration: none; /* Removes default underline */
    color: inherit; /* Changes color to match normal text */
}

/* importing fonts */
@font-face {
    font-family: "SourceSansPro";
    src: url("resources/fonts/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: "SourceSansPro";
    src: url("resources/fonts/SourceSansPro-Black.ttf");
    font-weight: bold2;
}

/* better selection colours */
::selection {
    background-color: #f5efed;
    color: #0f0a0a;
}

/* all body for general styling */
body {
    color: #0f0a0a;
    font-family: "SourceSansPro";
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* keeps footer down with less content */
}

.background {
    display: block;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: url("../resources/images/blue-wave-pattern.jpg") no-repeat center fixed;
    background-size: cover; /* for the least cool people (strange resizes) */
}

.contentWrapper {
    flex: 1; /* pushes the footer down */
    background: rgba(255, 255, 255, 0.602);
}

body h1 {
    font-family: "SourceSansPro";
    background-color: #bad7f2;
    font-weight: bold;
}

header h1 {
    font-size: 10vmin;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section article h1 {
    font-size: 2em;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}

section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 50%;
}

section article{
    display: flex;
    flex-direction: column;
    background-color: #f5efed;
    margin: 10px;
    border-radius: 15px;
    overflow: hidden; /* avoid border radius craziness https://stackoverflow.com/questions/10995294/border-radius-not-working */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    animation: boxshadow-down forwards ease .5s;
    max-width: 50%;
}

section article:hover {
    animation: boxshadow-up forwards ease .5s;
}

@keyframes boxshadow-up {
    from {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    to {
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    }
}
@keyframes boxshadow-down {
    from {
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    }
    to {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
}

section article p {
    font-size: 1.5em;
    /* overflow: hidden; */
    /* overflow-wrap: anywhere; */
    padding: 10px;
}

article li {
    font-size: 1.5em;
    margin-left: 10%;
}

/* footer */
footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #0f0a0a;
    /* border-top: 1px solid var(eerie-black); */
}

footer #copyright {
    font-size: 0.8vmax;
    text-align: center;
    padding-bottom: 1px;
    color: f5efed;
}

/* media queries */
@media only screen and (max-width: 400px) { /* https://stackoverflow.com/questions/32574100/why-media-queries-has-less-priority-than-no-media-queries-css */
    .content-wrap { /* remove margin from main page content */
        margin: 0% 0%;
    }
}